<!DOCTYPE HTML>
<html lang="en">
	<%- include('../_header', {title: 'Reviews', img: null, siteInfo: siteInfo, discordInfo: discordInfo, onlyTitle: false, headDesc: null}); %>
	<style>
		.convertPara {
			text-align: left;
			color: #FFFFFF;
			font-family: 'Exo', sans-serif;
			font-size: 0.625em;
			line-height: 1.5;
			font-weight: 500;
		}
	</style>
	<section id="reviews-section">
		<%
			let reviewObj = {};
			var ratingAvgArray = [];
			if(reviews.length > 0) {
				reviews.forEach(element => {
					ratingAvgArray.push(element.stars);
					reviewObj[element.stars] = reviewObj[element.stars] + 1 || 1;
				});
				reviewObj.average = (ratingAvgArray.reduce(function (a, b) { return a + b }) / ratingAvgArray.length).toFixed(1);
			} else {
				ratingAvgArray = [0];
			}

			function getAverage(num) {
				if(Number(num)) {
					return ((num / reviews.length) * 100).toFixed(0);
				} else {
					return 0;
				}
			}
		%>
		<div id="container24" class="container columns">
			<div class="wrapper">
				<div class="inner">
					<div>
						<% if(discordInfo.loggedIn) { %>
							<ul id="buttons10" class="buttons">
								<li>
									<a style="width: 100rem;" href="/reviews/create" class="button n01"><svg><use xlink:href="/assets/icons.svg#document"></use></svg><span class="label">Create Review</span></a>
								</li>
							</ul>
						<% } %>
						<div class="reviewBarBox">
							<p id="text101"><span style="color: #DAA520;"><%= reviewObj.average %></span><span style="font-size: 20px;"> / 5</span></p>
							<p style="color: white; font-family: 'Exo', sans-serif; font-weight: 700;"><span style="font-size: 20px;"><%= reviews.length.toLocaleString() %> Reviews</span></p>

							<div><span>5</span><progress class="reviewBar" value="<%= getAverage(reviewObj[5]) %>" max="100"></progress><%= getAverage(reviewObj[5]) %>%</div>
							<div><span>4</span><progress class="reviewBar" value="<%= getAverage(reviewObj[4]) %>" max="100"></progress><%= getAverage(reviewObj[4]) %>%</div>
							<div><span>3</span><progress class="reviewBar" value="<%= getAverage(reviewObj[3]) %>" max="100"></progress><%= getAverage(reviewObj[3]) %>%</div>
							<div><span>2</span><progress class="reviewBar" value="<%= getAverage(reviewObj[2]) %>" max="100"></progress><%= getAverage(reviewObj[2]) %>%</div>
							<div><span>1</span><progress class="reviewBar" value="<%= getAverage(reviewObj[1]) %>" max="100"></progress><%= getAverage(reviewObj[1]) %>%</div>
						</div>
					</div>
					<div>
						<% reviews.forEach(function(element) { 
							let desc = element.comment.substring(0, 265) + '...'; %>
							<img style="width: 4em; height: 4em; float: left; margin-right: 0.6em; margin-bottom: 0; border-radius: 0.4em;" src="<%= element.userImage %>" alt="" />
							<div>
								<p id="text31" style="font-weight: 600;text-align: left;"><span><strong>Product:</strong> <%= element.product %> <code><%= element.stars %>/5</code></span></p>
								<p class="convertPara"><em>“<%= desc %>”</em> — <strong><%= element.username %></strong></p>
							</div>
							<p class="convertPara" style="text-align: left;"><a class="convertPara" href="/review/<%= element.id%>">View Full Review</a></p>
							<hr id="divider02">
						<% }); %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%- include('../_footer', {siteInfo: siteInfo, discordInfo: discordInfo}); %>
</html>
