<%
	let authArr = siteInfo.loginTypes.split(",");
	var unreadNotis = userInfo.notis.filter(e => e.hidden == 0) || [];
%>
<head>
	<title><%= `${title} - ${siteInfo.sitename}` %></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
	<meta name="description" content="<%= headDesc ?? siteInfo.sitedesc %>" />
	<meta property="og:site_name" content="<%= siteInfo.sitename %>" />
	<meta property="og:title" content="<%= title %>" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="<%= headDesc ?? siteInfo.sitedesc %>" />
	<meta name="theme-color" content="<%= siteInfo.themecolor %>">
	<% if(typeof img == "object" && img !== null) {
		img.forEach(function(i, ind) { 
			if(ind > 4) return; %>
			<meta property="og:image" content="<%= i %>">
		<% });
	} else if(img) { %>
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:image" content="<%= img %>">
		<meta property="twitter:image" content="<%= img %>">
	<% } else { %>
		<meta name="twitter:card" content="summary">
		<meta property="og:image" content="<%= siteInfo.siteLogo %>">
	<% } %>
	<link href="https://fonts.googleapis.com/css?family=Exo:500,500italic,700,700italic,400,400italic,600,600italic,900,900italic" rel="stylesheet" type="text/css" />
	<link rel="preload" href="/assets/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/assets/main.css"></noscript>
	<link rel="icon" href="<%= siteInfo.siteLogo %>" />
	<style>
		#icons01 a:hover svg {
			fill: <%= siteInfo.themecolor %> !important;
		}
	</style>
	<% if(siteInfo.googleanalytics) { %>
		<script async src="https://www.googletagmanager.com/gtag/js?id=<%= siteInfo.googleanalytics %>"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '<%= siteInfo.googleanalytics %>');
		</script>
	<% } %>
	<% if(siteInfo.theme) { %>
		<link rel="preload" href="/themes/<%= siteInfo.theme %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="/themes/<%= siteInfo.theme %>"></noscript>
	<% } %>
</head>
<body>	
<script src="/assets/main.js"></script>
<div id="wrapper">
<div id="main">
<div id="snow"></div>
<script>
	document.addEventListener('DOMContentLoaded', function(){
    	let script = document.createElement('script');
    	script.src = 'https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js';
   		script.onload = function(){
        particlesJS("snow", {
            "particles": {
                "number": {
                    "value": 20, // EDIT THIS FOR AMOUNT OF SNOW
                    "density": {
                        "enable": true,
                        "value_area": 600
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "opacity": {
                    "value": 0.5, // EDIT THIS FOR OPACITY
                    "random": false,
                    "anim": {
                        "enable": false
                    }
                },
                "size": {
                    "value": 5,
                    "random": true,
                    "anim": {
                        "enable": false
                    }
                },
                "line_linked": {
                    "enable": false
                },
                "move": {
                    "enable": true,
                    "speed": 0.6, // EDIT THIS FOR SPEED
                    "direction": "bottom",
                    "random": true,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": true,
                        "rotateX": 300,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "events": {
                    "onhover": {
                        "enable": false
                    },
                    "onclick": {
                        "enable": false
                    },
                    "resize": false
                }
            },
            "retina_detect": true
        });
    }
    document.head.append(script);
});
</script>
<div class="inner">
<header id="header">
	<div id="container01" class="container columns full screen">
		<div class="wrapper">
			<% if(!userInfo.verified) { %>
				<div class="alertBarv2" style="background-color: #F63906;">
					<a style="text-decoration: none !important;">
						<p id="text10">Check your email to verify your account. [<a href="/verify/resend">Resend</a>]</p>
					</a>
				</div>
			<% } %>
			<div class="inner">
				<div>
					<a href="/">
						<div id="image01" class="image">
							<img src="<%= siteInfo.siteLogo %>" alt="" />
						</div>
					</a>
				</div>
				<div>
					<ul id="buttons03" class="buttons">
						<% var splittedDetails = JSON.parse(siteInfo.header);
						splittedDetails.forEach(function(e) { 
							if(e.drop.length > 0) { %>
								<div class="dropdown">
									<li>
										<a href="<%= e.link %>" class="button n01"><%= e.name %></a>
									</li>
									<div class="dropdown-content">
										<% e.drop.forEach(function(ele) { %>
											<a href="<%= ele.link %>"><%= ele.name %></a>
										<% 	}); %>
									</div>
								</div>
							<% } else { %>
								<li>
									<a href="<%= e.link %>" class="button n01"><%= e.name %></a>
								</li>
							<% }
						}); %>
					</ul>
				</div>
				<div>
					<ul id="buttons01" class="buttons">
						<% if(userInfo.loggedIn) { %>
							<div class="dropdown">
								<% if(unreadNotis.length > 0) { %><div class="redicon"></div><% } %>
								<li style="min-width: 6rem;">
									<a href="/user/<%= userInfo.id %>" class="button n01"><svg><use xlink:href="/assets/icons.svg#<%= userInfo.authType %>"></use></svg><span class="label"><%= userInfo.username %></span></a>
								</li>
								<div class="dropdown-content">
									<a class="clickhover" onclick="openNotis()">(<%= unreadNotis.length %>) Notifications</a>
									<a href="/user/<%= userInfo.id %>/settings">Settings</a>
									<a href="/logout">Logout</a>
								</div>
							</div>
							<li>
								<a href="/cart" class="button n02"><svg><use xlink:href="/assets/icons.svg#cart"></use></svg><span class="label">Cart <% if(userInfo.cart.length > 0) { %>(<%= userInfo.cart.length %>)<% } %></span></a>
							</li>
							<% if(hasPermission(userInfo, 'VIEW_STAFF_PANEL')) { %>
								<li>
									<a href="/staff" class="button n03"><svg><use xlink:href="/assets/icons.svg#shield"></use></svg><span class="label">Staff</span></a>
								</li>
						<%	} 
						} else { %>
							<li>
								<a href="/login" class="button n01"><svg><use xlink:href="/assets/icons.svg#login"></use></svg><span class="label">Login</span></a>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="mobileNav" class="full screen">
		<ul id="icons01" class="icons" style="display: table;margin: auto;">
			<li style="display: inline-block;">
				<a class="n03" href="/" id="mobNav-Home">
					<svg><use xlink:href="/assets/icons.svg#home"></use></svg>
					<span class="label">Home</span>
				</a>
			</li>
			<li style="display: table-cell;">
				<a class="n03" href="javascript:openMobNav();" id="mobNav-Menu">
					<svg><use xlink:href="/assets/icons.svg#menu"></use></svg>
					<span class="label">Menu</span>
				</a>
			</li>
			<li style="display: table-cell;">
				<a class="n03" href="/cart" id="mobNav-Cart">
					<svg><use xlink:href="/assets/icons.svg#cart"></use></svg>
					<span class="label">Cart</span>
				</a>
			</li>
			<% if(userInfo.loggedIn) { %>
				<li style="display: table-cell;">
					<a class="n03" href="/user/<%= userInfo.id %>" id="mobNav-User">
						<svg><use xlink:href="/assets/icons.svg#<%= userInfo.authType %>"></use></svg>
						<span class="label">Account</span>
					</a>
				</li>
			<% } else { %>
				<li style="display: table-cell;">
					<a class="n03" href="/login" id="mobNav-Login">
						<svg><use xlink:href="/assets/icons.svg#login"></use></svg>
						<span class="label">Login</span>
					</a>
				</li>
			<% } %>
			<% if(hasPermission(userInfo, 'VIEW_STAFF_PANEL')) { %>
				<li style="display: table-cell;">
					<a class="n03" href="/staff" id="mobNav-Staff">
						<svg><use xlink:href="/assets/icons.svg#shield"></use></svg>
						<span class="label">Staff</span>
					</a>
				</li>
			<% } %>
		</ul>
	</div>
	<div id="mobileNavMenu" class="full screen">
		<div style="display: flex;flex-wrap: nowrap;">
			<div style="text-align: left; width: 50%; display:inline">
				<% if(userInfo.loggedIn) { %>
					<div id="image23" class="image">
						<img src="/images/user-<%= userInfo.id %>.png" alt="User Image">
					</div>
					<p id="text05"><%= userInfo.username %></p>
				<% } else { %>
					<div id="image23" class="image">
						<img src="<%= siteInfo.siteLogo %>" alt="User Image">
					</div>
					<p id="text05"><%= siteInfo.sitename %></p>
				<% } %>
			</div>
			<div style="text-align: right; width: 50%">
				<ul id="icons01" class="icons">
					<li>
						<a class="n03" href="javascript:openNotis();">
							<svg><use xlink:href="/assets/icons.svg#bell"></use></svg>
							<span class="label">Notifications</span>
						</a>
					</li>
					<li>
						<a class="n03" href="/search">
							<svg><use xlink:href="/assets/icons.svg#search"></use></svg>
							<span class="label">Search</span>
						</a>
					</li>
					<li>
						<a class="n03" href="javascript:closeMobNav()">
							<svg><use xlink:href="/assets/icons.svg#cancel"></use></svg>
							<span class="label">Close</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr id="divider02">
		<% var splittedDetails = JSON.parse(siteInfo.header);
		splittedDetails.forEach(function(e) { 
			if(e.drop.length > 0) { %>
				<p id="text31"><a href="<%= e.link %>" class="button n01"><%= e.name %></a></p>
				<% e.drop.forEach(function(ele) { %>
					<p id="text31" style="text-indent: 1em;margin-top: 0.2em;"><a href="<%= ele.link %>"><%= ele.name %></a></p>
				<% 	}); %>
			<% } else { %>
				<p id="text31"><a href="<%= e.link %>" class="button n01"><%= e.name %></a></p>
			<% }
		}); %>
	</div>

	<% if(siteInfo.banner && !userInfo.hidebar) { %>
		<a href="/hidenotibar" style="text-decoration: none !important;">
			<div id="container02" class="container default">
				<div class="wrapper">
					<div class="inner">
						<p id="text08">Notification</p>
						<p id="text10"><%- siteInfo.banner %></p>
					</div>
				</div>
			</div>
		</a>
	<% } %>
	<div id="modalNotis" class="modal">
		<div class="modal-content notiModal">
			<span class="close">&times;</span>
			<p id="text09">Notifications</p>
			<hr id="divider06">
			<% if(userInfo.notis.length > 0) { %>

				<!-- <div>
					<p id="text93"><span style="float: left;padding-left:1em;">This is some notifications details</span><span style="float: right;padding-right:1em">Mon Jan 03 2022</span></p>
				</div> -->

				<div id="table13" class="table-wrapper">
					<div class="table-inner scrollFlow">
						<table>
							<tbody> 
								<% userInfo.notis.forEach(function(e, i) { %>
									<tr onclick="window.location.href = '/notification?link=<%= e.redirect %>&id=<%= e.id %>';" class="notiItem" <% if(!e.hidden) { %> style="background-color: rgba(100, 100, 100, 0.8); "<% } %>>
										<td style="padding-left:1em;"><%= e.details %></td>
										<td style="text-align: right;padding-right:1em"><script>document.write(new Date(Number(<%= e.createdAt %>)).toDateString());</script></td>
									</tr>
								<% }); %>
							</tbody>
						</table>
					</div>
				</div>
				<p id="text76"><a href="/notifications/dismiss">Dismiss All</a> | <a href="/notifications/delete">Delete All</a></p>
			<% } else { %>
				<p id="text51">You're all caught up!</p>
			<% } %>
		</div>
	</div>
</header>
